*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

header{
background:#0077b6;
padding:15px 40px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo-box{
display:flex;
align-items:center;
}


.logo-box img{
width:45px;
margin-right:10px;
}

nav h1{
color:white;
}

nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

/* HERO */
.hero{
height:90vh;
background:#caf0f8;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:40px;
margin-bottom:10px;
}

.btn{
background:#0096c7;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
margin-top:15px;
}

/* SECTIONS */
.section{
padding:60px 40px;
text-align:center;

}

.light{
background:#f4f4f4;
}

/* PRODUCT CARDS */
.cards{
    height: 300px;
    width: 100%;
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:0.4s;
animation:fadeUp 1s ease;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 15px 25px rgba(0,0,0,0.2);
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

/* MAP */
.map{
margin-top:20px;
}

/* FOOTER */
footer{
background:#023e8a;
color:white;
text-align:center;
padding:15px;
}

/* WHATSAPP */
.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:15px 18px;
border-radius:50%;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

/* MOBILE RESPONSIVE */
@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
text-align:center;
margin-top:10px;
}

.cards{
flex-direction:column;
align-items:center;
}

.hero h2{
font-size:24px;
}

.section{
padding:40px 20px;
}
}
.mainbox{
    height: 400px;
    width: 100%;
    background-color: rgb(69, 146, 146);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#box1,#box2,#box3,#box4{
    background-color: #f4f4f4;
    height: 300px;
    width: 300px;
    display: inline-block;
}
.img1{
    align-items:baseline;
}
#home{
    height: 300px;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}